[project]
	description = The Qt DocGallery repository.\n\
\n\
ssh://codereview.qt-project.org:29418/qt/qtdocgallery
[receive]
	requireChangeId = true
	requireContributorAgreement = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
[cherryPick]
	includeReviewedOn = true
